*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
/* Style the Hero section of the page */
.hero {
    height:100vh;
    width: 100%;
    background-image: url(../Images/Img-hero.png);
    background-color: #191919;
    background-size: cover;
    background-position: center;
}
 /* Navigation Bar*/
.navBar{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
 /* Style the Logo */
.logo {
    color: #fff;
    font-size:  35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding-left: 10px 25px;
    border-radius: 30px;
    transition: trasform .4s;
}
.btn:hover{
    transform: scale(1,2);
}

.content{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%);
    align-items: center;
}


h1{
    color: white;
    font-size: 50px;
    margin: 15px 0px 15px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 150px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}


/* About*/
.about{
    width: 100%;
    padding: 100px 10px;
    background-color: #191919;
}

.about-text{
    width: auto;
    text-align: justify-content;
}

.about-text p{
    color: #fff;
}
/* Main*/
.main {
    width: 100%;
    max-width: 95%;
    background-color: #101010;
    border-radius: 40px;
    margin: 10px auto;
    text-align: center;
    justify-content: space-around;
}

.about h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

/* Skills*/
.skills{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.main1{
    width: 100%;
    height: 350px;
    border: #101010;
    border-radius: 2px;
    background-color: #191919;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.skill.title {
    width: 100%;
    max-width: 95%;
    border-radius: 20px;
    background-color: #191919;
    margin: 10px auto;
    text-align: center;
    justify-content: space-around;
}

.row text-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill {
    background-color:#101010;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    opacity: .8;
    padding: 15px;
    margin: 15px;
    position: relative;
    display: inline-block;
    padding: 20px;
    }   


.skill-title h2{
        color: #fff;
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
    }

.technical .frameworks h5{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 25px;
    text-transform: capitalize;
}

 
.work{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
 /* Style the box */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
}

 /* Style the Card */
.card{
    height: 373px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
 /* Card Hover */
.card:hover{
    transform: scale(1,2);
    transition: .3s;
}

.card i{
    font: 50px;
    display: block;
    text-align: centre;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
 /* Style the Card Button */
.card .button{
    display: inline-block;
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transform: .4s;
    margin-bottom: 20px;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
 /* Contact */
.contact-me{
    width: 100%;
    height: 350px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-info{
    height: 373px;
    width: 100%;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.contact-me p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-title h2{
    color: #fff;
    font-size: 75px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
 /* Style the Footer */
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: #fff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}
/* Style the Social Media icons */
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1,3);
    transition: .3s;
}

.end{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color: #191919;
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 16px;
}

.end span{
    color: #fff;
}
/* The End of CSS Style sheet */
